<main class="main" fxLayout="column" fxLayoutAlign="start center">
  <section fxLayoutAlign="center center">
    <mat-card
      fxFlex.xs="96vw"
      fxFlex.sm="80vw"
      fxFlex.md="64vw"
      fxFlex.lg="48vw"
      style="margin-top: 30px;"
      class="formulario"
    >
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>restaurant</mat-icon>
        </div>
        <mat-card-title>Bem te vi food system - Home</mat-card-title>
      </mat-card-header>

    </mat-card>
  </section>
</main>